.img--blog {
  height: 200px;
  object-fit: contain;
}

/* archive styles */
.archive{
  border: solid 1px #ddd;
  padding: 30px;
  border-radius: 3px;
  width: 40%;
  height: 400px;
}

.archive__heading {
  margin: 0;
}

.archive__list {
  margin: 0 0 25px 30px;
  line-height: 1.75;
  list-style-type: none;
  padding: 0;
}

.archive__link {
  color: #2076e1;
  text-decoration: none;
}

.archive__link:hover {
  color: #111;
}

.archive__meta {
  color: #8f8f8f;
  overflow: hidden;
}

